body {
  background-image: linear-gradient(
    to left,
    rgb(13, 13, 111),
    rgb(24, 110, 167),
    white
  );
}

p {
  color: black;
  font-size: 20px;
}

img {
  width: 600;

  height: 450;
}

iframe {
  border-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(41, 48, 66);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(121, 207, 72);
}

.myBox {
  width: 200px;
  height: 200px;
  background-color: #67bcdd;
  animation-name: animation;
  animation-duration: 8s;
}
@keyframes animation {
  from {
    background-color: #67bcdd;
  }
  to {
    background-color: #000000;
  }
}

#myfloat {
  float: right;
}

#profilePic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

#contact_us {
  font-size: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#contact_us_2 {
  color: burlywood;
}

#contact_us_3 {
  color: burlywood;
}

#footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

#Eamil_apple {
  width: 100px;
  height: 100px;
}

footer {
  text-align: center;
  background-color: rgb(148, 44, 44);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15%;
}

#Loop_informations {
  color: black;
}
